@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.fonteffect{
font-family:Lucida Sans;
font-style: normal;
font-size: 18px;
}
.btnstyle
{
font-family:Calibri;
font-size: 26px;
}
.outputfont
{
font-family: Lucida Sans;
    font-size: 15px;
    font-style: normal;
}
.Enteredfont af|inputText::content
{ 
    font-family: Lucida Sans;
    font-size: 15px;
    font-style: normal;
}

.tt af|column::column-header-cell-content
{
    font-size: 15px;
    color: Red;
    
  
}

.FontDrpdwn af|selectOneChoice::content
{
    font-family: Lucida Sans;
    font-size: 15px;
    font-style: normal;

}
.Fontdate af|inputDate::content
{
font-family: Lucida Sans;
    font-size: 15px;
    font-style: normal;
}

af|button {
 background :  #20B2AA;
 height: 20px;
 width: 100px;
 text-align: right;
 font: 10pt bold Verdana, Arial, Helvetica, sans-serif ;
 color:white;
      
         border-radius:15px;
        text-align: center;
   
}
.drpdwnround af|selectOneChoice::content
{

   background-color:#cfd0cf;
   
}



.iputtxtround af|inputText::content{

 background-color: #cfd0cf;
}
.init {
       background-color:Black;
}

.head
{
 font-family: Lucida Sans;
    font-size: 15px;
    font-style: normal;

}
af|table af|column::column-header-cell
{
    
   font-family: Lucida Sans;
    font-size: 15px;
    font-style: normal;
    
}
af|inputText::label
{
font-size: 15px;
}
af|inputDate::label
{
 font-family: Lucida Sans;
    font-size: 15px;
    font-style: normal;

}
