/* 
    Created on : 25 Apr, 2015, 12:56:09 AM
    Author     : Nishant
*/
body {
    margin: 0px;
}

img.bg {
    /* Set rules to fill background */

    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */

    width: 100%;
    height: auto;
    /* Set up positioning */

    position: fixed;
    top: 0;
    left: 0;
}

.topHeader {
    position: relative;
    background-color: white;
}

.left {
    max-width: 100%;
    overflow: hidden;
    float: left;
    background-color: white;
}

.right {
    /* Standard syntax */

    background: rgb(115, 115, 115) linear-gradient(left, rgb(255, 255, 255), rgb(115, 115, 115));
    /* For Safari 5.1 to 6.0 */

    background: rgb(115, 115, 115) -webkit-linear-gradient(left, rgb(255, 255, 255), rgb(115, 115, 115));
    /* For Opera 11.1 to 12.0 */

    background: rgb(115, 115, 115) -o-linear-gradient(left, rgb(255, 255, 255), rgb(115, 115, 115));
    /* For Firefox 3.6 to 15 */

    background: rgb(115, 115, 115) -moz-linear-gradient(left, rgb(255, 255, 255), rgb(115, 115, 115));
    overflow: hidden;
    height: 84px;
    font-family: Calibri;
}

.banner {
    position: absolute;
    top: 250px;
    float: left;
    height: 242px;
}

.inputText {
    margin-bottom: 20px;
    background-color: rgb(183, 183, 183);
    width: 180px;
    height: 20px;
    border: 0px;
    padding-left: 1px;
    color: rgb(114, 114, 114);
    font-style: italic;
}

.contentArea {
    float: left;
    width: 70%;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 35px;
}
/*.rightPanel{
position: fixed;
  float: right;
  top: 0px;
  right: 0px;
  width: 21%;
}*/
.upper {
    width: 230px;
    float: right;
    height: 94px;
    background-color: rgba(178, 178, 178, 0.6);
    color: white;
}

.viewsSection {
    margin-top: 60px;
    background-color: rgb(0, 176, 133);
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

.sidebar {
    position: absolute;
    right: 0px;
    background-color: rgba(178, 178, 178, 0.5);
    color: white;
    width: 230px;
}

.tasks {
}